body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1{
  font-size: 2.5rem;
  color: hsl(0, 1%, 22%);
}
.choices{
  margin-bottom: 30px;
}
.choices button{
  font-size: 7.5rem;
  min-width: 160px;
  background-color: hsl(200, 100%, 50%);
  border-radius: 250px;
  cursor: pointer;
  margin: 0 10px;
  transition: background-color 0.25s ease;
  /* border: none; */
}
.choices button:hover{
  background-color: hsl(200, 100%, 70%);
}
#playerDisplay, #computerDisplay{
  font-size: 2rem;
}
#resultDisplay{
  font-size: 3rem;
  margin: 30px 0;
}
.scoreDisplay{
  font-size: 1.5rem;
}
.greenText, #playerScoreDisplay{
  color: #23be23;
}
.redText, #computerScoreDisplay{
  color: tomato;
}
