*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
  padding: 2rem;
  background-color: #f8f4;
}
section{
  background-color: white;
  overflow: hidden;
  border: 0.4px solid gray;
  border-radius: 5px;
  box-shadow: 0px 7px 29px 0px black;
  resize:none;
}
.buttons{
  display: flex;
  justify-content: center;
  padding: 14px;
  gap: 9px;
}
.buttons button{
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 5px;
}
.buttons button:first-child{
  background-color: red;
}
.buttons button:last-child{
  background-color: green;
}


