*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.hero{
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(45deg, #010758, #490d61);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.hero h1{
  font-size: 45px;
  font-weight: 500;
  margin-top: -50px;
  margin-bottom: 50px;
  color: white;
}
.hero h1 span{
  color: #ff2963;
}
.hero textarea{
  width: 600px;
  height: 250px;
  background: #403d84;
  font-size: 15px;
  border: none;
  resize: none;
  color: #fff;
  padding: 20px;
  outline: none;
  border-radius: 10px;
  margin-bottom: 30px;
}
.hero textarea::placeholder{
  font-size: 16px;
  color: #ddd;
}
.row{
  display: flex;
  width: 600px;
  align-items: center;
  gap: 20px;
}
button{
  background-color: #ff2963;
  color: #fff;
  padding: 10px 30px;
  border: none;
  border-radius: 35px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
}
button img{
  width: 16px;
  margin-right: 10px;
}
select{
  flex: 1;
  padding: 0px 20px;
  height: 50px;
  background: #403d84;
  color: #fff;
  border: none;
  border-radius: 35px;
  outline: none;
  appearance: none;
  background-image: url(./dropdown.png);
  background-repeat: no-repeat;
  background-position-x: calc(100% - 20px);
  background-position-y: 20px;
  background-size: 15px;
}