*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body{
  position: relative;
  background-color: lightgrey;
  /* color: whiite; */
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  background-color: lightgrey;
  box-shadow: 0 0 0 2px rgba(16, 16, 16, 0.2);
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  /* color: white; */
}
nav ul{
  display: flex;
  gap: 25px;
}
li{
  list-style: none;
  font-size: 18px;
}
nav ul li:hover{
  text-decoration: underline;
  color: #bd6f08;
}
.logo{
  width: 70px;
  height: 70px;
  margin-left: 150px;
}
.fa{
  color: white;
  /* font-size: 17px */
}
.div-btn{
  background-color: #bd6f08;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
}
.pre{
  background-color: #bd6f08;
  color: white;
  border: none;
  padding: 15px 35px;
  border-radius: 50px;
  margin-right: -200px;
  cursor: pointer;
  transition: background-color 0.25s;
}
.sign{
  background: none;
  padding: 15px 25px;
  border: 1px solid #bd6f08;
  color: #bd6f08;
  border-radius: 50px;
  margin-right: 20px;
  transition: background-color 0.25s;
}
.sign:hover{
  background-color: #bd6f08;
  color: white;
}
.sign:active{
  background-color: none;
}
.pre:hover{
  background-color: #945809;
}
span{
  text-decoration: underline;
  color: #ff9100;
}
img{
  width: 500px;
  height: 430px;
  border-radius: 10px;
  margin-right: 40px;
  margin-left: 20px;
}
main{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 110px;
  /* color: white; */
}
.qoraalka{
  margin-left: 120px;
}
.master{
  font-size: 40px;
  font-weight: bold;
  margin-top: -30px;
  margin-bottom: 18px;
}
.keypoard{
  margin-bottom: 35px;
  opacity: 0.6;
}
.now{
  background-color: #d97d05;
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
  color: white;
  margin-right: 15px;
  transition: background-color 0.25s;
}
.release{
  background: none;
  border: 1px solid #bd6f08;
  padding: 15px 20px;
  margin-right: 10px;
  color: #bd6f08;
  transition: background-color 0.25s;
  border-radius: 4px;
}
.release:hover{
  background-color: #bd6f08;
  color: white;
}

.now:hover{
  background-color: #7a4c11;
}
.person{
 height: 400px;
 width: 250px; 
 object-fit: cover;
 margin-left: 40px;
}
.earth{
  height: 400px;
  width: 450px; 
  object-fit: cover;
  margin-left: -10px;
}
.keyboard{
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
  /* color: white; */
}
.get-btn{
  padding: 15px 50px;
  color: #bd6f08;
  background: none;
  border: 1px solid #bd6f08;
  border-radius: 6px;
  transition: background-color 0.25s;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
.book{
  color: #bd6f08;
}
.get-btn:hover{
  background-color: #bd6f08;
  color: white;
}
/* .get-btn-img{
  width: 16px;
  margin-right: 10px;
  background-color: #bd6f08; 
} */
.computer{
  margin-left: 30px;
}
.div-btn{
  margin-bottom: 25px;
  margin-top: 10px;
}
.div{
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-right: 25px;
  margin-left: 30px;
  margin-top: 100px;
  /* color: white; */
}
.div-text{
  font-size: 14px;
  opacity: 0.7;
  margin-top: 10px;

}
.MECHANICAL{
  opacity: 0.7;
  margin-top: 10px;
  margin-bottom: 20px;
}